/* Your CSS Code here. */
.holder {
	display : flex;
	justify-content : center;
	flex-wrap : wrap;
}

.item {
	height : 100px;
	width : 100px;
	font-size : 50px;
	font-weight : bold;
}

#item-1 {
	background-color : green;
}

#item-2 {
	background-color : red;
}

#item-3 {
	background-color : blue;
}
